body {
  overflow-x: hidden !important;
}
.bg-homeResident {
  height: 100vh;
  background-image: url("./Assets/bg-dashboard.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.img_sizing {
  width: 20%;
  height: 40%;
}
